<header-padrao></header-padrao>
<!--<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions"
    aria-controls="offcanvasWithBothOptions">Enable both scrolling & backdrop</button>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
    aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Backdrop with scrolling</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <p>Try scrolling the rest of the page to see this option in action.</p>
    </div>
</div>-->

<div class="body top-padrao" *ngIf="carregando">
    <carregar></carregar>
</div>

<div class="body top-padrao">
    <h4>Cadastro de equipe</h4>
    <div class="auto">
        <table tablePadrao>
            <caption>Listagem de equipes</caption>
            <thead>
                <tr theadPadrao>
                    <th>
                        <botao-adicionar (buscaBotao)="mostrarModalCadastro()" toolTip="Incluir equipe">
                        </botao-adicionar>
                    </th>
                    <th>Id Equipe</th>
                    <th>Equipe</th>
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="let e of listagemEquipes.slice(((paginaEquipe-1)*itensPaginaEquipe), ((paginaEquipe)*itensPaginaEquipe))">
                    <td>
                        <botao-editar (buscaBotao)="mostrarModalEdicao(e)" toolTip="Editar equipe">
                        </botao-editar>
                        <botao-excluir (buscaBotao)="mostrarModalExclusao(e)" toolTip="Excluir equipe">
                        </botao-excluir>
                    </td>
                    <td>{{e.idEquipe}}</td>
                    <td>{{e.nome}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <paginacao [pagina]="paginaEquipe" [itensPagina]="itensPaginaEquipe"></paginacao>
</div>

<modal-cadastro #modalCadastro [modalConfig]="modalCadConfig" [bodyTemplate]="modalCadastroBody"
    (funcaoRecebida)="salvarEquipe(formCadastro, modalCadastro)">
</modal-cadastro>
<ng-template #modalCadastroBody>
    <div class="row">
        <div class="col-xl-4">
            <div class="form-floating mb-3">
                <input class="form-control" type="number" [(ngModel)]="formCadastro.idEquipe" [disabled]="true">
                <label>Id Equipe</label>
            </div>
        </div>
        <div class="col-xl-8">
            <div class="form-floating mb-3">
                <input class="form-control" type="text" [(ngModel)]="formCadastro.nome" maxlength="30">
                <label>Nome da equipe</label>
            </div>
        </div>
    </div>
</ng-template>
<modal-exclusao #modalExclusao [modalConfig]="modalExcConfig"
    (funcaoRecebida)="excluirEquipe(formExclusao, modalExclusao)">
    Deseja realmente excluir o item selecionado?
</modal-exclusao>