<header-padrao></header-padrao>

<div class="body top-padrao">
    <h4>Cadastro de equipe</h4>
    <div class="auto">
        <table tablePadrao>
            <caption>Listagem de equipes</caption>
            <thead>
                <tr theadPadrao>
                    <th>
                        <botao-adicionar (buscaBotao)="mostrarModalCadastro()"
                            toolTip="Incluir equipe"></botao-adicionar>
                    </th>
                    <th>Id Equipe</th>
                    <th>Equipe</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let e of listagemEquipes">
                    <td>
                        <botao-editar (buscaBotao)="mostrarModalEdicao(e)" toolTip="Editar equipe">
                        </botao-editar>
                        <botao-excluir (buscaBotao)="mostrarModalExclusao(e)" toolTip="Excluir equipe">
                        </botao-excluir>
                    </td>
                    <td>{{e.idEquipe}}</td>
                    <td>{{e.nome}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<modal-cadastro #modalCadastro [modalConfig]="modalCadConfig" [bodyTemplate]="modalCadastroBody">
</modal-cadastro>
<ng-template #modalCadastroBody>
    <div class="row">
        <div class="col-xl-4">
            <label>Id Equipe</label>
            <input class="form-control" type="number" [(ngModel)]="formCadastro.idEquipe" [disabled]="true">
        </div>
        <div class="col-xl-8">
            <label>Nome da equipe</label>
            <input class="form-control" type="text" [(ngModel)]="formCadastro.nome" maxlength="30">
        </div>
    </div>
</ng-template>
<modal-exclusao #modalExclusao [modalConfig]="modalExcConfig">
    Deseja realmente excluir o item selecionado?
</modal-exclusao>