<header-padrao></header-padrao>

<!--<div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
        aria-valuemin="0" aria-valuemax="100" [style.width]="progressBar+'%'">
    </div>
</div>-->

<div class="body top-padrao" *ngIf="carregando">
    <carregar></carregar>
</div>

<div class="body top-padrao">
    <h4>Cadastro de equipe</h4>
    <div class="auto">
        <table tablePadrao>
            <caption>Listagem de equipes</caption>
            <thead>
                <tr theadPadrao>
                    <th>
                        <botao-adicionar (buscaBotao)="mostrarModalCadastro()" toolTip="Incluir equipe">
                        </botao-adicionar>
                    </th>
                    <th>Id Equipe</th>
                    <th>Equipe</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let e of listagemEquipes">
                    <td>
                        <botao-editar (buscaBotao)="mostrarModalEdicao(e)" toolTip="Editar equipe">
                        </botao-editar>
                        <botao-excluir (buscaBotao)="mostrarModalExclusao(e)" toolTip="Excluir equipe">
                        </botao-excluir>
                    </td>
                    <td>{{e.idEquipe}}</td>
                    <td>{{e.nome}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<modal-cadastro #modalCadastro [modalConfig]="modalCadConfig" [bodyTemplate]="modalCadastroBody"
    (funcaoRecebida)="salvarEquipe(formCadastro, modalCadastro)">
</modal-cadastro>
<ng-template #modalCadastroBody>
    <div class="row">
        <div class="col-xl-4">
            <input-padrao label="Id Equipe" type="number" [(model)]="formCadastro.idEquipe" [disabled]="true">
            </input-padrao>
        </div>
        <div class="col-xl-8">
            <input-padrao label="Nome da equipe" type="text" [(model)]="formCadastro.nome" maxlength="30">
            </input-padrao>
        </div>
    </div>
</ng-template>
<modal-exclusao #modalExclusao [modalConfig]="modalExcConfig"
    (funcaoRecebida)="excluirEquipe(formExclusao, modalExclusao)">
    Deseja realmente excluir o item selecionado?
</modal-exclusao>