<header-padrao></header-padrao>

<div class="body top-padrao" *ngIf="carregando">
    <carregar></carregar>
</div>

<div class="body top-padrao">
    <h4>Cadastro de tipos de pagamento</h4>
    <div class="auto">
        <table tablePadrao>
            <caption>
                <button class="btn btn-sm" (click)="buscarTiposPagamento()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        *ngIf="!carregando" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z" />
                        <path
                            d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z" />
                    </svg>
                    <div class="spinner-border spinner-border-sm" *ngIf="carregando" role="status">
                        <span class="sr-only"></span>
                    </div>
                </button>
                Listagem de Tipos de Pagamento
            </caption>
            <thead>
                <tr theadPadrao>
                    <th>
                        <botao-adicionar (buscaBotao)="mostrarModalCadastro()"
                            toolTip="Incluir equipe"></botao-adicionar>
                    </th>
                    <th>Id Tipo Pagamento</th>
                    <th>Tipo Pagamento</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let t of listagemTiposPagamento">
                    <td>
                        <botao-editar (buscaBotao)="mostrarModalEdicao(t)" toolTip="Editar equipe">
                        </botao-editar>
                        <botao-excluir (buscaBotao)="mostrarModalExclusao(t)" toolTip="Excluir equipe">
                        </botao-excluir>
                    </td>
                    <th>{{t.idTipoPagamento}}</th>
                    <th>{{t.tipoPagamento}}</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<modal-cadastro #modalCadastro [modalConfig]="modalCadConfig" [bodyTemplate]="modalCadastroBody"
    (funcaoRecebida)="salvarTiposPagamento(formCadastro, modalCadastro)">
</modal-cadastro>
<ng-template #modalCadastroBody>
    <div class="row">
        <div class="col-xl-4">
            <div class="form-floating">
                <input class="form-control" type="text" [(ngModel)]="formCadastro.idTipoPagamento" maxlength="3"
                    [disabled]="formCadastro.tipoInclusao == 'E'">
                <label>Id Tipo Pagamento</label>
            </div>
        </div>
        <div class="col-xl-8">
            <div class="form-floating">
                <input class="form-control" type="text" [(ngModel)]="formCadastro.tipoPagamento" maxlength="20">
                <label>Tipo Pagamento</label>
            </div>
        </div>
    </div>
</ng-template>
<modal-exclusao #modalExclusao [modalConfig]="modalExcConfig"
    (funcaoRecebida)="excluirTiposPagamento(formExclusao, modalExclusao)">
    Deseja realmente excluir o item selecionado?
</modal-exclusao>