<header-padrao (changeEmpresa)="mudouEmpresa($event)"></header-padrao>

<div class="body top-padrao">
    <div class="row">
        <div class="col-xl-4">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#expandirApps"
                aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <h4>Seja bem Vindo Renan C</h4>
            </button>
        </div>
        <div class="col-xl-12 collapse show" id="expandirApps">
            <aplicativos></aplicativos>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-2">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#expandirDash"
                aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <h6>Dashboard</h6>
            </button>
        </div>
        <div class="col-xl-12 collapse" id="expandirDash">
            <dashboard></dashboard>
        </div>
    </div>
</div>