.sistemas {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 21px;
}

.favoritos {
    display: flex;
    overflow: auto;
    min-height: 77px;
    max-height: 190px;
    border: 1px solid #dadada;
    border-radius: 5px;
    box-shadow: 0px 1px 1px -3px;
    padding:1rem;
}
.favoritos::-webkit-scrollbar {
    display: none;
}