<div class="row top-padrao">
    <div class="col-xl-3">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#expandirAppsFav"
            aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <p>Aplicativos</p>
        </button>
    </div>
    <div class="col-xl-12 collapse show" id="expandirAppsFav">
        <div class="favoritos" *ngIf="aplicativos.length > 0">
            <div *ngFor="let a of aplicativos; let i = index">
                <div class="card" style="width: 10rem; cursor: pointer; margin: 5px;"
                    [ngStyle]="{'background-color':getColor(a)}" [title]="a.nomeAplicativo"
                    (click)="selecionarAplicativo(a)">
                    <div class="card-body">
                        {{a.nomeAplicativo}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row top-padrao">
    <div class="col-xl-3">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#expandirSistemas"
            aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <p>Sistemas</p>
        </button>
    </div>
    <div class="col-xl-12 collapse" id="expandirSistemas">
        <div class="favoritos">
            <div class="card center" style="width: 10rem; cursor: pointer; margin: 5px;"
                [ngStyle]="{'background-color':getColor(s)}" *ngFor="let s of sistemas" (click)="selecionarSistema(s)">
                <div class="card-body">
                    {{s.nome}}
                </div>
            </div>
        </div>
    </div>
</div>