.container-login{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.header-login {
    display: flex;
    background-color: #1d9cd7;
    width: calc(100vw - (100vw - 100%));
    height: 100px;
}
.body-login {
    max-width: 100%;
    margin: 5%;
}
.footer-login {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 15px;
    width: calc(100vw - (100vw - 100%));
    height: 120px;
    background-image: linear-gradient(to right,#0a6ba8,#1c9dd9);
}
.label-card{
    color:#878788;
    font-weight: bold;
    font-size: 1rem;
}
