<header-padrao></header-padrao>

<div class="body top-padrao" *ngIf="carregando == false">
    <h4>Cadastro de pessoas</h4>
    <table tablePadrao>
        <thead>
            <tr class="table-dark">
                <th>
                    <botao-adicionar (buscaBotao)="mostrarModalCadastro()" toolTip="Incluir pessoa"></botao-adicionar>
                </th>
                <th>Id Pessoa</th>
                <th>Nome</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of listagemPessoas">
                <td>
                    <botao-editar (buscaBotao)="mostrarModalEdicao(p)" toolTip="Editar pessoa">
                    </botao-editar>
                    <botao-excluir (buscaBotao)="mostrarModalExclusao(p)" toolTip="Excluir pessoa">
                    </botao-excluir>
                </td>
                <td>{{p.idPessoa}}</td>
                <td>{{p.nome}}</td>
            </tr>
        </tbody>
    </table>
</div>

<modal-cadastro #modalCadastro [modalConfig]="modalCadConfig" [bodyTemplate]="modalCadastroBody">
</modal-cadastro>
<ng-template #modalCadastroBody>
    <div class="row">
        <div class="col-xl-6">
            <label>Id Pessoa</label>
            <input class="form-control" type="number" [(ngModel)]="formCadastro.idPessoa" [disabled]="true">
        </div>
        <div class="col-xl-6">
            <label>Nome</label>
            <input class="form-control" type="text" [(ngModel)]="formCadastro.nome">
        </div>
    </div>
</ng-template>
<modal-exclusao #modalExclusao [modalConfig]="modalExcConfig">
    Deseja realmente excluir o item selecionado?
</modal-exclusao>
<modal-mensagem #modalMensagem [modalConfig]="modalMsgConfig" (funcaoRecebida)="fecharModal(modalMensagem)">
    {{mensagem}}
</modal-mensagem>