<header-padrao></header-padrao>

<div class="body top-padrao" *ngIf="carregando">
    <carregar></carregar>
</div>

<div class="body top-padrao">
    <h4>Cadastro de pessoas</h4>
    <div class="auto">
        <table tablePadrao>
            <caption>
                <button class="btn btn-sm" (click)="buscarPessoas()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        *ngIf="!carregando" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z" />
                        <path
                            d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z" />
                    </svg>
                    <div class="spinner-border spinner-border-sm" *ngIf="carregando" role="status">
                        <span class="sr-only"></span>
                    </div>
                </button>
                Listagem de Pessoas
            </caption>
            <thead>
                <tr theadPadrao>
                    <th>
                        <botao-adicionar (buscaBotao)="mostrarModalCadastro()" toolTip="Incluir pessoa">
                        </botao-adicionar>
                    </th>
                    <th>Id Pessoa</th>
                    <th>CNPJ/CPF</th>
                    <th>Nome</th>
                    <th>Tipo Pessoa</th>
                    <th>Situação</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of listagemPessoas">
                    <td>
                        <botao-editar (buscaBotao)="mostrarModalEdicao(p)" toolTip="Editar pessoa">
                        </botao-editar>
                        <botao-excluir (buscaBotao)="mostrarModalExclusao(p)" toolTip="Excluir pessoa">
                        </botao-excluir>
                    </td>
                    <td>{{p.idPessoa}}</td>
                    <td>{{p.cnpjCpf}}</td>
                    <td>{{p.nome}}</td>
                    <td>{{p.tipoPessoa}}</td>
                    <td>{{p.situacao}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<modal-cadastro #modalCadastro [modalConfig]="modalCadConfig" [bodyTemplate]="modalCadastroBody">
</modal-cadastro>
<ng-template #modalCadastroBody>
    <div class="row">
        <div class="col-xl-2">
            <div class="form-floating">
                <input class="form-control" type="number" [(ngModel)]="formCadastro.idPessoa" [disabled]="true">
                <label>Id Pessoa</label>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="form-floating">
                <input class="form-control" type="text" [(ngModel)]="formCadastro.nome" maxlength="30">
                <label>Nome</label>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="form-floating">
                <select class="form-control" [(ngModel)]="formCadastro.situacao">
                    <option value="A">Ativo</option>
                    <option value="I">Inativo</option>
                </select>
                <label>Situação</label>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="form-floating">
                <select class="form-control" [(ngModel)]="formCadastro.tipoPessoa">
                    <option value="F">Física</option>
                    <option value="J">Jurídica</option>
                </select>
                <label>Tipo Pessoa</label>
            </div>
        </div>
    </div>
    <div class="row top-padrao">
        <div class="col-xl-3">
            <div class="form-floating" *ngIf="formCadastro.tipoPessoa == 'F'">
                <input class="form-control" type="text" [(ngModel)]="formCadastro.cnpjCpf" maxlength="11">
                <label>CPF</label>
            </div>
            <div class="form-floating input-group" *ngIf="formCadastro.tipoPessoa == 'J'">
                <input type="text" class="form-control" [(ngModel)]="formCadastro.cnpjCpf" maxlength="14">
                <button class="btn btn-secondary" type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-globe-americas" viewBox="0 0 16 16">
                        <path
                            d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0ZM2.04 4.326c.325 1.329 2.532 2.54 3.717 3.19.48.263.793.434.743.484-.08.08-.162.158-.242.234-.416.396-.787.749-.758 1.266.035.634.618.824 1.214 1.017.577.188 1.168.38 1.286.983.082.417-.075.988-.22 1.52-.215.782-.406 1.48.22 1.48 1.5-.5 3.798-3.186 4-5 .138-1.243-2-2-3.5-2.5-.478-.16-.755.081-.99.284-.172.15-.322.279-.51.216-.445-.148-2.5-2-1.5-2.5.78-.39.952-.171 1.227.182.078.099.163.208.273.318.609.304.662-.132.723-.633.039-.322.081-.671.277-.867.434-.434 1.265-.791 2.028-1.12.712-.306 1.365-.587 1.579-.88A7 7 0 1 1 2.04 4.327Z" />
                    </svg>
                </button>
                <label>CNPJ</label>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="form-floating" *ngIf="formCadastro.tipoPessoa == 'J'">
                <input class="form-control" type="text" [(ngModel)]="formCadastro.inscricaoEstadual" maxlength="11">
                <label>Inscrição Estadual</label>
            </div>
            <div class="form-floating" *ngIf="formCadastro.tipoPessoa == 'F'">
                <input class="form-control" type="text" [(ngModel)]="formCadastro.rg" maxlength="9">
                <label>RG</label>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="form-floating" *ngIf="formCadastro.tipoPessoa == 'J'">
                <input class="form-control" type="text" [(ngModel)]="formCadastro.inscricaoMunicipal" maxlength="11">
                <label>Inscrição Municioal</label>
            </div>
        </div>
        <div class="col-xl-3" *ngIf="formCadastro.funcionario">
            <div class="form-floating">
                <select class="form-control" [(ngModel)]="formCadastro.idEquipe">
                    <option *ngFor="let e of listagemEquipes" [value]="e.idEquipe">{{e.nome}}</option>
                </select>
                <label>Equipe</label>
            </div>
        </div>
    </div>
    <div class="row top-padrao">
        <div class="col-xl-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" [(ngModel)]="formCadastro.cliente">
                <label class="form-check-label">Cliente</label>
            </div>
        </div>
        <div class="col-xl-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" [(ngModel)]="formCadastro.funcionario">
                <label class="form-check-label">Funcionário</label>
            </div>
        </div>
        <div class="col-xl-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" [(ngModel)]="formCadastro.fornecedor">
                <label class="form-check-label">Fornecedor</label>
            </div>
        </div>
        <div class="col-xl-2">
            <div class="form-check form-check-inline" *ngIf="formCadastro.funcionario">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" value="E"
                    [(ngModel)]="formCadastro.tipoFuncionario">
                <label class="form-check-label">Engenheiro</label>
            </div>
        </div>
        <div class="col-xl-2">
            <div class="form-check form-check-inline" *ngIf="formCadastro.funcionario">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" value="O"
                    [(ngModel)]="formCadastro.tipoFuncionario">
                <label class="form-check-label">Operário</label>
            </div>
        </div>
    </div>
</ng-template>
<modal-exclusao #modalExclusao [modalConfig]="modalExcConfig">
    Deseja realmente excluir o item selecionado?
</modal-exclusao>
<modal-mensagem #modalMensagem [modalConfig]="modalMsgConfig" (funcaoRecebida)="fecharModal(modalMensagem)">
    {{mensagem}}
</modal-mensagem>