<header-padrao></header-padrao>

<div class="body top-padrao">
    <h4>Cadastro de pessoas</h4>
    <div class="auto">
        <table tablePadrao>
            <caption>Listagem de Pessoas</caption>
            <thead>
                <tr theadPadrao>
                    <th>
                        <botao-adicionar (buscaBotao)="mostrarModalCadastro()"
                            toolTip="Incluir pessoa"></botao-adicionar>
                    </th>
                    <th>Id Pessoa</th>
                    <th>Id Equipe</th>
                    <th>Nome</th>
                    <th>Tipo Pessoa</th>
                    <th>Situação</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of listagemPessoas">
                    <td>
                        <botao-editar (buscaBotao)="mostrarModalEdicao(p)" toolTip="Editar pessoa">
                        </botao-editar>
                        <botao-excluir (buscaBotao)="mostrarModalExclusao(p)" toolTip="Excluir pessoa">
                        </botao-excluir>
                    </td>
                    <td>{{p.idPessoa}}</td>
                    <td>{{p.idEquipe}}</td>
                    <td>{{p.nome}}</td>
                    <td>{{p.tipoPessoa}}</td>
                    <td>{{p.situacao}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<modal-cadastro #modalCadastro [modalConfig]="modalCadConfig" [bodyTemplate]="modalCadastroBody">
</modal-cadastro>
<ng-template #modalCadastroBody>
    <div class="row">
        <div class="col-xl-2">
            <label>Id Pessoa</label>
            <input class="form-control" type="number" [(ngModel)]="formCadastro.idPessoa" [disabled]="true">
        </div>
        <div class="col-xl-5">
            <label>Nome</label>
            <input class="form-control" type="text" [(ngModel)]="formCadastro.nome" maxlength="30">
        </div>
        <div class="col-xl-5">
            <label>Situação</label>
            <select class="form-control" [(ngModel)]="formCadastro.situacao">
                <option value="A">Ativo</option>
                <option value="I">Inativo</option>
            </select>
        </div>
    </div>
    <div class="row top-padrao">
        <div class="col-xl-6">
            <label>Tipo Pessoa</label>
            <select class="form-control" [(ngModel)]="formCadastro.tipoPessoa">
                <option value="E">Engenheiro</option>
                <option value="O">Operário</option>
                <option value="F">Fornecedor</option>
            </select>
        </div>
        <div class="col-xl-6">
            <label>Equipe</label>
            <select class="form-control" [(ngModel)]="formCadastro.idEquipe">
                <option value="1">Equipe amarela</option>
                <option value="2">Equipe verde</option>
                <option value="3">Equipe azul</option>
            </select>
        </div>
    </div>
</ng-template>
<modal-exclusao #modalExclusao [modalConfig]="modalExcConfig">
    Deseja realmente excluir o item selecionado?
</modal-exclusao>
<modal-mensagem #modalMensagem [modalConfig]="modalMsgConfig" (funcaoRecebida)="fecharModal(modalMensagem)">
    {{mensagem}}
</modal-mensagem>