<ngb-toast *ngFor="let toast of toastService.toasts" [ngClass]="toast.classname" [autohide]="toast.autoHide"
    (mouseenter)="toast.autoHide = false" (mouseleave)="toast.autoHide = true" [delay]="toast.delay || 5000"
    (hide)="toastService.remove(toast)">

    <ng-template [ngIf]="isTemplate(toast)" [ngIfElse]="text">
        <ng-template [ngTemplateOutlet]="toast.textOrTpl"></ng-template>
    </ng-template>

    <ng-template #text>
        <span class="margin-message">
            {{ toast.textOrTpl }} <br>
            <a *ngIf="toast.messageLink" (click)="buscaId(toast.idButton)">
                {{ toast.messageLink }}
            </a>
        </span>
        <span class="close toast-x pl-2 font-weight-light" (click)="toastService.remove(toast)">×</span>
    </ng-template>
</ngb-toast>