<header-padrao (changeEmpresa)="mudouEmpresa($event)"></header-padrao>

<div class="body top-padrao" *ngIf="carregando">
    <carregar></carregar>
</div>

<div class="body top-padrao">
    <h4>Cadastro de usuários</h4>
    <div class="auto">
        <table tablePadrao>
            <caption>
                <button class="btn btn-sm" (click)="buscarUsuarios()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        *ngIf="!carregando" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z" />
                        <path
                            d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z" />
                    </svg>
                    <div class="spinner-border spinner-border-sm" *ngIf="carregando" role="status">
                        <span class="sr-only"></span>
                    </div>
                </button>
                Listagem de Usuários
            </caption>
            <thead>
                <tr theadPadrao>
                    <th>
                        <botao-adicionar (buscaBotao)="mostrarModalCadastro()" toolTip="Incluir usuário">
                        </botao-adicionar>
                    </th>
                    <th>Id Usuario</th>
                    <th>Login Usuario</th>
                    <th>Senha</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let u of listagemUsuarios">
                    <td>
                        <botao-editar (buscaBotao)="mostrarModalEdicao(u)" toolTip="Editar usuário"></botao-editar>
                        <botao-excluir (buscaBotao)="mostrarModalExclusao(u)" toolTip="Excluir usuário"></botao-excluir>
                    </td>
                    <td>{{u.idUsuario ? u.idUsuario : u._id}}</td>
                    <td>{{u.login}}</td>
                    <td>{{u.senha}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<modal-cadastro #modalCadastro [modalConfig]="modalCadConfig" [bodyTemplate]="modalCadastroBody"
    (funcaoRecebida)="salvarUsuario(formCadastro, modalCadastro)">
</modal-cadastro>
<ng-template #modalCadastroBody>
    <div class="row">
        <div class="col-xl-2">
            <div class="form-floating">
                <input class="form-control" type="number" [(ngModel)]="formCadastro.idUsuario" [disabled]="true">
                <label>Id Usuário</label>
            </div>
        </div>
        <div class="col-xl-5">
            <div class="form-floating">
                <input class="form-control" type="text" [(ngModel)]="formCadastro.login" maxlength="15">
                <label>Login Usuário</label>
            </div>
        </div>
        <div class="col-xl-5">
            <div class="form-floating">
                <input class="form-control" type="text" [(ngModel)]="formCadastro.senha" maxlength="15">
                <label>Senha</label>
            </div>
        </div>
    </div>
    <div class="row top-padrao" *ngIf="formCadastro.tipoInclusao=='E'">
        <div class="col-xl-6">
            <label>Vincular Empresas</label>
            <div class="auto" style="max-height: 40vh;">
                <table tablePadrao>
                    <thead>
                        <tr theadPadrao>
                            <th>
                                <botao-adicionar (click)="novoRegistro(formCadastro.idUsuario)"
                                    toolTip="Incluir empresa">
                                </botao-adicionar>
                            </th>
                            <th>Id Empresa</th>
                            <th>Nome</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let v of formCadastro.empresas; let i = index">
                        <tr *ngIf="!v.editando">
                            <td>
                                <botao-excluir (buscaBotao)="excluirEmpresaUsuario(i)" toolTip="Excluir vinculo">
                                </botao-excluir>
                            </td>
                            <td>{{v.idEmpresa}}</td>
                            <td>{{v.nome}}</td>
                        </tr>
                        <tr *ngIf="v.editando">
                            <td>
                                <botao-excluir toolTip="Cancelar" (buscaBotao)="cancelarRegistro(i)"></botao-excluir>
                                <botao-confirmar (buscaBotao)="salvarEmpresaUsuario(v, i)" toolTip="Confirmar vinculo"
                                    [icon]="true">
                                </botao-confirmar>
                            </td>
                            <td colspan="2" *ngIf="v.editando">
                                <select class="form-control" [(ngModel)]="formIclusaoEmpresa.idEmpresa">
                                    <option value="">Selecione uma empresa</option>
                                    <option *ngFor="let e of listagemEmpresas" [value]="e.idEmpresa">
                                        {{e.idEmpresa}} - {{e.nome}}
                                    </option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xl-6">
            <label>Vincular Aplicações</label>
            <div class="auto" style="max-height: 40vh;">
                <table tablePadrao>
                    <thead>
                        <tr theadPadrao>
                            <th>
                                <botao-adicionar (buscaBotao)="novoRegistroAplicacao(formCadastro.idUsuario)"
                                    toolTip="Vincular aplicativo">
                                </botao-adicionar>
                            </th>
                            <th>Id Aplicação</th>
                            <th>Id Sistema</th>
                            <th>Nome</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let v of formCadastro.aplicacoes; let i = index">
                            <td *ngIf="!v.editando">
                                <botao-excluir toolTip="Excluir vinculo" (buscaBotao)="excluirAplicacaoUsuario(i)">
                                </botao-excluir>
                            </td>
                            <td *ngIf="v.editando">
                                <botao-excluir toolTip="Cancelar" (buscaBotao)="cancelarRegistroAplicacao(v)">
                                </botao-excluir>
                                <botao-confirmar toolTip="Confirmar vinculo" (buscaBotao)="salvarAplicacaoUsuario(v, i)"
                                    [icon]="true">
                                </botao-confirmar>
                            </td>
                            <td *ngIf="!v.editando">{{v.idAplicacao}}</td>
                            <td *ngIf="!v.editando">{{v.idSistema}}</td>
                            <td *ngIf="!v.editando">{{v.nomeAplicativo}}</td>
                            <td colspan="3" *ngIf="v.editando">
                                <select class="form-control" [(ngModel)]="formIclusaoAplicativo.idAplicacao">
                                    <option value="">Selecione um aplicativo</option>
                                    <option *ngFor="let e of listagemAplicacoes" [value]="e.idAplicacao">
                                        {{e.idAplicacao}} - {{e.idSistema}} - {{e.nomeAplicativo}}
                                    </option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-template>
<modal-exclusao #modalExclusao [modalConfig]="modalExcConfig"
    (funcaoRecebida)="excluirUsuario(formExclusao, modalExclusao)">
    Deseja realmente excluir o item selecionado?
</modal-exclusao>