<header-padrao></header-padrao>

<div class="body top-padrao">
    <h4>Cadastro de usuários</h4>
    <table tablePadrao>
        <thead>
            <tr class="table-dark">
                <th><botao-adicionar></botao-adicionar></th>
                <th>Id Usuario</th>
                <th>Id Pessoa</th>
                <th>Usuario</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <botao-editar></botao-editar>
                    <botao-excluir></botao-excluir>
                </td>
                <td>1</td>
                <td>1</td>
                <td>Renan</td>
            </tr>
        </tbody>
    </table>
</div>