<header-padrao></header-padrao>

<div class="body top-padrao">
    <h4>Cadastro de usuários</h4>
    <div class="auto">
        <table tablePadrao>
            <caption>Listagem de Usuários</caption>
            <thead>
                <tr theadPadrao>
                    <th>
                        <botao-adicionar (buscaBotao)="mostrarModalCadastro()"
                            toolTip="Incluir usuário"></botao-adicionar>
                    </th>
                    <th>Id Usuario</th>
                    <th>Login Usuario</th>
                    <th>Senha</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let u of listagemUsuarios">
                    <td>
                        <botao-editar (buscaBotao)="mostrarModalEdicao(u)" toolTip="Editar usuário"></botao-editar>
                        <botao-excluir (buscaBotao)="mostrarModalExclusao(u)" toolTip="Excluir usuário"></botao-excluir>
                    </td>
                    <td>{{u.idUsuario}}</td>
                    <td>{{u.login}}</td>
                    <td>{{u.senha}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<modal-cadastro #modalCadastro [modalConfig]="modalCadConfig" [bodyTemplate]="modalCadastroBody">
</modal-cadastro>
<ng-template #modalCadastroBody>
    <div class="row">
        <div class="col-xl-2">
            <label>Id Usuário</label>
            <input class="form-control" type="number" [(ngModel)]="formCadastro.idUsuario" [disabled]="true">
        </div>
        <div class="col-xl-5">
            <label>Login Usuário</label>
            <input class="form-control" type="text" [(ngModel)]="formCadastro.login" maxlength="15">
        </div>
        <div class="col-xl-5">
            <label>Senha</label>
            <input class="form-control" type="text" [(ngModel)]="formCadastro.senha" maxlength="15">
        </div>
    </div>
</ng-template>
<modal-exclusao #modalExclusao [modalConfig]="modalExcConfig">
    Deseja realmente excluir o item selecionado?
</modal-exclusao>