.nome-usuario{
    margin:0.5rem;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.dropdown-menu {
    position: absolute;
    left: 0;
}

.p-87 {
    position: relative;
    width: 87%;
}